@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Bebas-Regular;
    src: url(fonts/Bebas-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Medium.ttf);
}

#just-line-break {
    white-space: pre-line;
}

.container {
    width: auto;
    max-width: 500px;
    padding: 0 15px;
}

p {
    font-size: 20px;
}

span {
    font-size: 20px;
}

.painel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f8f8ffc4;
    width: 710px;
    border: 10px solid;
    border-radius: 20px 20px;
    border-image-slice: 1;
    border-width: 5px;
    border-color: #0fce1fc9;
    padding: 50px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
}

.text {
    font-family: 'Roboto', monospace;
    color: #0c0c0c;
    text-align: center;
    top: 80%;
    left: 80%;
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

.box {
    font-family: 'Bebas';
    top: 80%;
    left: 50%;
    text-align: center;
    background-image: linear-gradient(to top, #0bc91bc9, #17b609c5);
    color: rgb(255, 255, 255);
}

.boxInfo {
    overflow-x: scroll;
    height: 330px;
    width: 620px;
    font-family: 'Bebas';
    padding: 25px;
    font-size: 20px;
    top: 50%;
    left: 50%;
    text-align: center;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.349) 0%, rgba(0, 0, 0, 0.562) 100%);
    color: white;
}

body {
    background-color: transparent;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
}

.borderlessButton {
    font-size: 2rem;
    background: none;
    border: 0px solid white;
    left: 150px;
    top: 80px;
}

#imgpos {
    position: absolute;
    left: 120%;
    top: 50%;
    margin-left: -110px;
    margin-top: -40px;
}

.fadeImg {
    opacity: 0;
    webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 8s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fadeImg-delay {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

html {
    height: 100%;
    background: radial-gradient(rgb(11, 219, 138), transparent), radial-gradient(ellipse at bottom, rgb(77, 159, 12), transparent);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("background.png");
    display: flex;
}

div.ex1 {
    background-color: lightblue;
    height: 300px;
    width: 200px;
    overflow-y: scroll;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}

body,
button,
input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
}

body,
input {
    color: #000000;
}

body,
.search-bar {
    display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
}

.search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #000000 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em black inset;
    transform: scale(1);
}

.search-btn {
    background: #ffffff;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}


/* Active state */

.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: #0c48db;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
    body,
    input {
        color: transparent;
    }
    body {
        background: transparent;
    }
    .search-bar input {
        box-shadow: 0 0 0 0.4em #3d3d3d inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: #ffffff;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
        background: #3d3d3d;
    }
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ReportButton {
    background: #03fd24;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
    width: 50px;
    height: 50px;
}