.painel{
    text-align: center;
    margin-left: 500px;
    margin-top: 5px;
    background-color: whitesmoke;
    width: 300px;
    border: 15px solid #138484;
    padding: 50px;
}

.text{
    text-align: center;
    background-color:#138484;
    width: 300px;
    border: 5px solid #138484;
    color: white;
}

h1 {
    text-align: center;
    background-color: #138484;
    color: white;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }